.apartaments {
	padding: 45px 0px 120px 0px;

	&__title {
		text-transform: uppercase;
		font-size: 54px;
		margin-bottom: 20px;

	}

	
	&__descr {
		text-align: left;
		font-size: 27px;
		font-weight: 300;	
		margin-bottom: 120px;

	}

	&__table {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(90px, auto);
		grid-auto-rows: 90px;
	}
}
.apartaments {
	span {
		
	}
	&__table-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		border-bottom: 1px solid #000;
	}

	&__table-title-el {
		width: 33.333%;
		font-size: 24px;
		
	}

	&__table-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		border-bottom: 1px solid #d4d4d4d4;
		border-top: 1px solid #d4d4d4d4;
		padding: 5px 15px 5px 15px;
		span {
			font-weight: 700;
		}
		&_1 {
			background-color: $bg-color;
		}
	}

	&__table-info-el {
		width: 33.333%;
		font-size: 19px;
		font-weight: 300;
	}
}
