.iptv {
	padding: 45px 0px 120px 0px;
		&__title {
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		&__descr {
			text-align: center;
			font-size: 27px;
			font-weight: 300;	
			margin-bottom: 120px;
		}

		&__item {
		}
}

