.news {
	padding: 45px 0px 120px 0px;

	&__title {
		margin-bottom: 20px;
	}

	&__grid-container {
		display: grid;
		gap: 25px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: minmax(350px, auto);
		grid-auto-rows: minmax(350px, auto);
	}

	&__items {
		position: relative;
		overflow: hidden;
		padding: 40px 20px;
		background-color: $bg-color;
		border: 1px #d4d4d4d4 solid;
		transition: all 0.5s;
	}

	&__items-title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 18px;
		line-height: 1.65;
		font-weight: 300;
	}

	&__link {
		position: absolute;
		bottom: 12px;
		left: 20px;
		text-transform: uppercase;
		color: $main-color;
		transition: all 0.5s;
		&:hover{
			.news__arrow {
				opacity: 1;
				transform: translateX( 0px);
			}
		}
	}

	&__arrow {
		fill: #fff;
		opacity: 0;
		transform: translateX(-10px);
		transition: all 0.5s;
		width: 15px;
		height: 15px;
	}
}
