.rate {
	padding-top: 65px;
	padding-bottom: 120px;
	&__title {
		margin-bottom: 20px;
	}
	
	&__title-item {
		text-transform: uppercase;
		transition: all 0.5s;
		font-size: 24px;
	}

	&__grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px 25px;
	}

	&__item {
		position: relative;
		overflow: hidden;
		text-align: center;
		max-width: 100%;
		background-color: $bg-color;
		border: 1px #d4d4d4d4 solid;
		padding: 40px 15px;
		z-index: 1;
		transition: all 0.5s;
	}


	&__img {
		position: relative;
		width: 100px;
		height: 100px;
		margin-bottom: 10px;
		transition: all 0.5s;
		z-index: 3;
	}

	&__descr {
		font-size: 15px;
		font-weight: 300;
		margin-bottom: 10px;
		z-index: 3;
		p {
			margin-bottom: 10px;
			transition: all 0.5s;
		}

	}

	&__speed {
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 20px;
		color: $main-color;
		z-index: 3;
	}

	&__price {
		font-size: 24px;
		margin-bottom: 50px;

	}

	&__btn {
	}
}

