.services {
	padding: 45px 0px 120px 0px;
	
	background-color: $bg-color;
	&__title {
		margin-bottom: 20px;
	}

	&__grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
		justify-items: center;
		gap: 25px;
	}

	&__item {
		position: relative;
		padding: 30px 20px;
		text-align: center;
		width: 350px;
		min-height: 250px;
		background-color: #d4d4d4d4;
		overflow: hidden;
		transition: all 0.5s;
	}

	&__img {
		width: 100px;
		height: 100px;
		margin-bottom: 5px;
	}

	&__title-item {
	}

	&__btn {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-45%);
		color: $main-color;
		text-transform: uppercase;
		transition: all 0.5s;
		z-index: 2;
		&:hover {
			.services__arrow {
				transform: translateX(0px);
				opacity: 1;
				fill: #fff;
			}
		}
	}

	&__arrow {
		transition: all 0.5s;
		transform: translateX(-10px);
		opacity: 0;
		margin-bottom: 4px;
		width: 15px;
		height: 15px;
	}
}
